name: Check CODEOWNERS
permissions: {}

on: pull_request
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: generate CODEOWNERS
        run: |
          ./scripts/check-codeowners.sh | tee .github/CODEOWNERS

      - name: check CODEOWNERS for modifications
        run: |
          git diff --exit-code
